﻿@model STKProject.Models.RegisterBindingModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" class="body-full-height">
<head>
    <!-- META SECTION -->
    <title>Joli Admin - Responsive Bootstrap Admin Template</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <!-- END META SECTION -->
    <!-- CSS INCLUDE -->
    @Styles.Render("~/Content/css/app")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    <!-- EOF CSS INCLUDE -->
</head>
<body>

    <div class="login-container">

        <div class="login-box animated fadeInDown">
            <div class="login-logo"></div>
            <div class="login-body">
                <div class="login-title"><strong>Log In</strong> to your account</div>
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-12">
                            <input id="email" type="text" class="form-control" placeholder="E-mail" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input id="password" type="password" class="form-control" placeholder="Password" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <a href="#" class="btn btn-link btn-block">Forgot your password?</a>
                        </div>
                        <div class="col-md-6">
                            <button type="button" id="loginbtn"  class="btn btn-info btn-block">Log In</button>
                        </div>
                    </div>
                    <div class="login-or">VEYA</div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <button class="btn btn-info btn-block btn-twitter"><span class="fa fa-twitter"></span> Twitter</button>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-info btn-block btn-facebook"><span class="fa fa-facebook"></span> Facebook</button>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-info btn-block btn-google"><span class="fa fa-google-plus"></span> Google</button>
                        </div>
                    </div>
                    <div class="login-subtitle">
                        Henüz üye değil misiniz? <a href="#">Üye olun</a>
                    </div>
                </form>
            </div>

            @* FOOTER *@
            <div class="login-footer">
                <div class="pull-left">
                    &copy; 2014 AppName
                </div>
                <div class="pull-right">
                    <a href="#">About</a> |
                    <a href="#">Privacy</a> |
                    <a href="#">Contact Us</a>
                </div>
            </div>
        </div>

    </div>
    <script type="text/javascript">

        $(document).ready(function () {

            $("#loginbtn").click(function () {

                var loginData = {
                    grant_type: 'password',
                    username: $("#email").val(),
                    password: $("#password").val()
                };

                $.ajax({
                    type: 'POST',
                    url: '/Token',
                    data: loginData,
                    contentType: "application/x-www-form-urlencoded",
                    success: function (data, response) {
                        if (response) {
                            sessionStorage.setItem("tokenKey", data.access_token);
                            @*$.get(@Url.Action("Main","Home"))*@
                            window.location.href = "@Url.Action("Main", "Home")";
                        }
                    },
                    error: function (er) {
                        alert("something failed: " + er);
                    }
                });
            });

        });

    </script>
</body>
</html>


