﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- META SECTION -->
    <title>Joli Admin - Responsive Bootstrap Admin Template</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <!-- END META SECTION -->
    <!-- CSS INCLUDE -->
    <!-- CSS INCLUDE -->
    @Styles.Render("~/Content/css/app")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    <!-- EOF CSS INCLUDE -->
    <!-- EOF CSS INCLUDE -->
</head>
<body>
    <div class="page-container">
        <div class="page-content">
            <div class="page-content-wrap">
                <div class="row">


                    <div class="col-md-12">
                        <!-- START JQUERY VALIDATION PLUGIN -->
                        <div class="block">
                            <h4>jQuery Validation</h4>
                            <form class="form-horizontal">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">User Name:</label>
                                        <div class="col-md-9">
                                            <input id="userName" type="text" class="form-control" name="login" />
                                            <span class="help-block">min size = 2, max size = 8</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Password:</label>
                                        <div class="col-md-9">
                                            <input type="password" class="form-control" name="password" id="password" />
                                            <span class="help-block">min size = 5, max size = 10</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Confirm Password:</label>
                                        <div class="col-md-9">
                                            <input id="rePassword" type="password" class="form-control" name="re-password" />
                                            <span class="help-block">required same value as Password</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">E-mail:</label>
                                        <div class="col-md-9">
                                            <input id="email" type="text" value="" name="email" class="form-control" />
                                            <span class="help-block">required email</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Phone Number:</label>
                                        <div class="col-md-9">
                                            <input id="phoneNumber" type="text" class="form-control" name="age" />
                                            <span class="help-block">min size = 18, max size = 100</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Site:</label>
                                        <div class="col-md-9">
                                            <input id="site" type="text" value="http://" name="site" class="form-control" />
                                            <span class="help-block">required url</span>
                                        </div>
                                    </div>
                                    <div class="btn-group pull-right">
                                        <button class="btn btn-primary" id="saveBtn" type="button">Kaydet</button>
                                    </div>
                                </div>
                            </form>
                            <!-- END JQUERY VALIDATION PLUGIN -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">

        $(document).ready(function () {

            $("#saveBtn").click(function () {

                var data = {
                    Email: $("#email").val(),
                    Password: $("#password").val(),
                    ConfirmPassword: $("#rePassword").val(),
                    PhoneNumber: $("#phoneNumber").val(),
                    UserName: $("#userName").val(),
                    Site: $("#site").val()
                };

                $.ajax({
                    type: 'POST',
                    url: '/api/Account/Register',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(data),
                    success: function (data, response) {
                        if (response) {
                            alert("Kayıt Basarılı");
                            window.location.href = "@Url.Action("Login", "Home")";
                        }
                    },
                    error: function (er) {
                        alert("something failed: " + er.message);
                    }
                });

            });
        });
    </script>
</body>
</html>